@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face{
  font-family: 'Roboto-Regular';
  src: url('/app/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto-Light';
  src: url('/app/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Raleway-Regular';
  src: url('/app/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Raleway-Thin';
  src: url('/app/fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Pacifico';
  src: url('/app/fonts/Pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}