@include keyframe(display-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframe(enlarge) {
  0% {
    height: 0px;
  }
  100% {
    height: 202px;
  }
}

@include keyframe(like-action-in) {
  0% {
    width: 60%;
  }
  100% {
    width: 100%;
    opacity: .8;
  }
}

@include keyframe(like-action-out) {
  0% {
    width: 40%;
  }
  100% {
    width: 0%;
    padding-left: 0;
    padding-right: 0;
  }
}