.button {
  border: 1px solid;
  border-radius: 4px;
  background: transparent;
  outline: none;

  @include transition(all .4s ease);
}

.button-patch {
  display: inline-block;
  border: none;
  outline: none;

  @include border-box;
  @include transition(all .4s ease);
}

.button.big {
  padding: 8px 14px;;
}

.button.medium {
  padding: 4px 7px;
  font-size: 0.8em;
}

.button.light {
  border-color: $color-blue-lightest;
  color: $color-blue-lightest;

  &.active {
    color: #A8FFA5;
    border-color: #A8FFA5;
  }
}

.button.post {
  padding: 12px 24px;
  border-radius: 0px;;
  border: none;
  color: #727272;
  background: #C9C9C9;
}

.button-patch.big {
  padding: 14px;;
}

.button-patch.green {
  background: #72DF95;
  color: #FFF;
}

.button-patch.red {
  background: #F18080;
  color: #FFF;
}

.button-patch.pink {
  width: 100%;
  border-color: #DF72C5;
  color: #DF72C5;

  &.active {
    color: #FFF;
    background: #DF72C5;
  }
}