.page-matches {
  .match {
    float: left;
    width: 70%;
    background: #fff;

    .messages {
      overflow-y: scroll;

      .item {
        padding: 2px 12px;
      }
    }

    .match-profil {
      background: #f1f1f1;

      .wrap {
        padding: 12px;
      }
    }

    .match-message {
      position: relative;
      background: #f1f1f1;

      textarea {
        width: 100%;
        padding: 12px;
        min-height: 102px;
        border: none;
        border-top: 4px solid #f1f1f1;
        outline: none;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .matches {
    float: left;
    width: 30%;
    overflow-y: scroll;
    background: #27282B;

    .item {
      margin: 12px 0;
      overflow: hidden;
    }

    .user-photo-container,
    .user-photo {
      width: 42px;
      height: 42px;
    }
    .user-photo-container {
      float: right;
      margin-right: 16px;
    }
    .user-photo {
      border-radius: 50%;
    }

    .user-name {
      float: right;
      margin: 6px 16px 0 0;
      font-family: 'Lato';
      font-size: 1.4em;
      color: #cfcfcf;
    }
  }

  .matches::-webkit-scrollbar-thumb {
    background: #54575F;
  }
}