.page-matches {
  .match {
    .profil {
      background: #f1f1f1;

      .wrap {
        padding: 12px;
      }
    }
    
    .messages {
      overflow-y: scroll;

      .item {
        padding: 2px 12px;
      }
    }

    .message {
      position: relative;
      background: #f1f1f1;

      textarea {
        width: 100%;
        padding: 12px;
        min-height: 102px;
        border: none;
        background: #f1f1f1;
        outline: none;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .matches {
    padding: 32px 0;

    .item {
      margin: 12px 0;
      font-family: 'Raleway-Regular';
      font-size: 1.2em;
      
      a {
        color: #99A0B3;
      }
    }

    .new {
      display: inline-block;
      margin-right: 6px;
      width: 12px;
      height: 12px;
      background: #FFCA90;
      border-radius: 50%;
    }

    .user-photo {
      margin-left: 8px;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      vertical-align: middle;
    }
  }
}