.page-profile {
  .profil {
    background: #fff;

    .wrap {
      padding: 12px;
    }

    .user-photo {
      margin-right: 12px;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      vertical-align: middle;
    }

    .username {
      vertical-align: -3px;
      font-family: 'Raleway-Regular';
      font-size: 1.4em;
      color: $color-blue-strong;

      .age {
        color: #737F9E;
      }
    }

    .informations {
      margin-left: 12px;
      font-size: 0.8em;
      color: $color-blue-lightest;
    }
  }

  .content {
    overflow-y: scroll;
    background: #f1f1f1;
  }

  .bio {
    margin: 62px;
    text-align: center;
    font-size: 1em;
    color: #5C6377;
  }

  .photos {
    margin: 62px auto;
    width: 640px;
  }

  .photo-container {
    margin: 12px auto;
    border: 6px solid #fff;
    border-radius: 6px;

    img {
      width: 100%;
    }
  }
}