body {
  font-family: 'Roboto-Light';
  background-color: #fff;
}

.update {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  background: #97E4BC;
  color: #fff;
}

.page {
    float: left;
    width: 76%;
}