.header-main {
  height: 76px;

  a {
    text-decoration: none;
  }
}

.botinder-logo {
  color: #212121;
}

.main-menu {
  float: right;

  a {
    color: #212121;
  }

  li {
    display: inline-block;
  }
}