.main-side {
  position: fixed;
  width: 24%;
  height: 100%;
  background: #27282B;

  .side {
    overflow-y: scroll;
    color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #54575F;
  }
}

.botinder-logo {
  display: block;
  padding: 12px 32px 0 0;
  font-family: 'Pacifico';
  font-size: 2.8em;
  color: #ff7258;
}

.main-menu {
  padding-right: 8px;

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 0 12px;
    height: 55px;
    line-height: 55px;
    font-family: 'Lato';
    color: #EEEEEE;
  }

  .user-photo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    vertical-align: middle;
  }
}