<div class="header-main">
  <div class="container">
    {{#link-to 'home' class="botinder-logo"}}Botinder{{/link-to}} 
    <ul class="main-menu">
      <li>{{#link-to 'liker'}}Liker{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Messages{{/link-to}}</li>
      <li>{{#link-to 'account'}}<img {{bind-attr src="user.photo" class=":user-photo"}}> Account{{/link-to}}</li>
    </ul>
  </div>
</div>
<div class="page">
  <div class="container">
    {{outlet}}
  </div>
</div>
<div {{bind-attr class=":update updateOngo::hidden"}}>
  mise à jour en cours
</div>