<div class="header-main">
  <div class="container">
    {{#link-to 'home' class="botinder-logo"}}Botinder{{/link-to}} 
    <ul class="main-menu right">
      <li>{{#link-to 'liker'}}Liker{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Messages{{/link-to}}</li>
      <li>{{#link-to 'account' class="user-profile"}}<img {{bind-attr src="user.photo" class=":user-photo"}}> Profil{{/link-to}}</li>
    </ul>
  </div>
</div>
<div class="page">
  {{outlet}}
</div>
<div {{bind-attr class=":update updateOngo::hidden"}}>
  mise à jour en cours
</div>