<div class="main-side">
  <div class="top">
    {{#link-to 'home' class="botinder-logo"}}Botinder{{/link-to}} 
    <ul class="main-menu">
      <li>{{#link-to 'like'}}Like{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Messages{{/link-to}}</li>
      <li>{{#link-to 'account' class="user-profile"}}<img {{bind-attr src="user.photo" class=":user-photo"}}>{{/link-to}}</li>
    </ul>
  </div>
  <div class="side">
    {{outlet side}}
  </div>
</div>
<div class="page">
  {{outlet}}
</div>
<div {{bind-attr class=":update updateOngo::hidden"}}>
  mise à jour en cours
</div>