<div class="page-like">
  <div class="options">
    <div class="field field-checkbox">
      {{input type="checkbox" name="likeAuto" id="field-like" checked=likeAuto}}
      <label for="field-like">Like automatically</label>
    </div>
    <button {{action 'changeRunningStatus'}} {{bind-attr class=':button :big :light running:active'}}>{{start}}</button>
  </div>
</div>