<div class="page-like">
  <div {{bind-attr class="noMore::hidden :no-more"}}>
    No more profile, please increase distance<br>
    on your mobile then wait 4s. (or refresh).
  </div>
  <div class="like-list">
    {{#each user in controller}}
      {{view view.itemView userBinding=user}}
    {{/each}}
  </div>
</div>