<div class="page-matches">
  <ul class="matches">
    {{#each match in model}}
    <li class="item">
      {{#link-to 'matches.match' match._id}}
        {{#if match.new_data}}<i class="new"></i>{{/if}} {{match.person.name}} <img {{bind-attr src="match.person.photo"}} class="user-photo">
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
</div>